<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:versionName="Beta 1.1.1" android:installLocation="auto" package="com.crawl.it">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29" />
	<application android:label="Crawl IT" android:icon="@drawable/PlaceHolderIcon"></application>
</manifest>